*{
    margin: 0px;
    padding: 0px;
    
}

/* #did{
    width: 370px;
    height: 180px;
    position: absolute;
    margin: -50px 800px;
    background-color: white;
}

#acc{
    border: thick solid red;
    width: 200px;
    height: 100px;
    position: absolute;
    margin: -20px 200px;
    background-color: white;
} */
